body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.nav-tabs {
  border-bottom: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.nav-tabs .nav-link {
  background-color: #2d3e50;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #2d3e50;
  transition: background-color 0.3s, color 0.3s;
}

.nav-tabs .nav-link.active {
  background-color: #0f172a;
  color: #ffffff;
  border: 1px solid #334155;
  border-radius: 10px;
}

.nav-tabs .nav-link:hover {
  background-color: #1a202c;
  color: #ffffff;
}

.container {
  background-color: #000000a4;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.module-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.moduleDescription {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  background-color: #0f172a;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, left 0.3s, right 0.3s;
  max-width: 300px;
  width: 300px;
  white-space: normal;
  text-align: left;
  overflow-wrap: break-word;
  box-sizing: border-box;
  z-index: 10;
}

.form-control-sm {
  width: 500px;
}

.d-flex {
  display: flex;
}

.form-inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.me-2 {
  margin-right: 0.5rem;
}

.card {
  border: none;
  background-color: #0f172a;
  border: 1px solid #334155;
  border-radius: 10px;
}

.card-body {
  color: #fff;
  border-radius: 10px;
}

.reactor-info {
  flex: 1;
  margin-right: 20px;
}

.external-components {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.external-component {
  background-color: #0f172a;
  border: 1px solid #334155;
  border-radius: 10px;
  padding: 10px;
  border-radius: 8px;
  width: calc(50% - 20px);
}

.external-component-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.weapon-container {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

.weapon {
  flex: 1;
  background-color: #0f172a;
  border: 1px solid #334155;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.weapon-img {
  width: auto;
  height: 100px;
  object-fit: cover;
}

.weapon-modules {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  max-width: 100%;
}

.moduleCard {
  background-color: #0f172a;
  border: 1px solid #334155;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.CardModuleInfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.CardModuleType {
  background-color: #131c30;
  border-radius: 0 0 10px 10px;
  color: #94a3b8;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.socketBanner {
  align-items: center;
  background-color: #090e25;
  border: 1px solid #94a3b8;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  justify-content: center;
  position: absolute;
  top: -10%;
  width: 50px;
}

.moduleImg {
  align-items: center;
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px 36px 0;
}

.moduleName {
  font-size: 15px;
}

.CardModuleType {
  font-size: 13px;
}

.moduleImg.blue {
  background: linear-gradient(130deg, #3d6c8c 10%, #1a1a1a 46%, #1a1a1a 54%, #3d6c8c 90%);
}

.moduleImg.purple {
  background: linear-gradient(130deg, #511e7a 10%, #1a1a1a 46%, #1a1a1a 54%, #511e7a 90%);
}

.moduleImg.yellow {
  background: linear-gradient(130deg, #988b5e 10%, #1a1a1a 46%, #1a1a1a 54%, #988b5e 90%);
}

.moduleImg.red {
  background: linear-gradient(150deg, #843e2f 10%, #1a1a1a 46%, #1a1a1a 54%, #843e2f 90%);
}